/* React Flow Overrides - Minimal approach */

/* Only override what's absolutely necessary */
.react-flow__edges {
	overflow: visible !important;
}

/* Hide attribution */
.react-flow__attribution {
	display: none !important;
}

/* Minimap background */
.react-flow__minimap-mask {
	fill: var(--background) !important;
	stroke: none !important;
	opacity: 0.5 !important;
}

/* Minimap node */
.react-flow__minimap-node {
	fill: var(--muted-foreground) !important;
}

/* Handle */
.react-flow__handle {
	background-color: unset;
	border-width: 0;
}
.react-flow__handle-left {
	top: 0 !important;
	transform: translate(0, 0) !important;
}

.react-flow__handle-right {
	top: 0 !important;
	transform: translate(0, 0) !important;
}

/* Code Editor */
.cm-editor {
	border-radius: 0.5rem;
	overflow: hidden;
}

.react-flow__pane.selection,
.react-flow__node.selectable,
.react-flow__node.draggable,
.react-flow__handle.connectionindicator {
	cursor: default !important;
}
